**/target
*.user
*.csproj
*.sln
*.iml
*.idea
*.iml
**/.idea/*
tmp/
client/.idea/
client/Library/
client/target/
client/Temp/
client/obj/
client/Out/

client/Assets/Plugins/*
client/Assets/Plugins.meta
client/Assets/Runtime/*

!client/Assets/Plugins/Android/AndroidManifest.xml
!client/Assets/Plugins/Android/AndroidManifest.meta

!client/Assets/Plugins/Android/gradleTemplate.properties
!client/Assets/Plugins/Android/gradleTemplate.properties.meta

client/ProjectSettings/AndroidResolverDependencies.xml
client/ProjectSettings/GooglePlayGameSettings.txt

client/AndroidBuild/
client/AndroidBuild.meta

client/Assets/PlayServicesResolver/
client/Assets/PlayServicesResolver.meta
client/Assets/JsonDotNet.meta
client/Assets/JsonDotNet/
client/Assets/GooglePlayGames/
client/Assets/GooglePlayGames.meta
client/Assets/StreamingAssets/
client/Logs/
client/Builds/